@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Space Grotesk', sans-serif !important;
  height: 100vh;
  margin: 0;
}

#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout {
  padding: 0 50px;
  margin-top: 14px;
}

.site-layout-background {
  width: 80% !important;
  height: 93% !important;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 32px;
  box-shadow: -5px 6px 45px 9px rgba(0, 0, 0, 0.27);
  border-radius: 10px;
  text-align: center;
  background: rgb(248, 248, 248);
  position: relative;
  overflow: hidden;
}

/* .site-layout-backdrop {
  position: absolute;
  background: #000;
  opacity: 0.5;
  width: 70vw !important;
  height: 80vh !important;
  min-height: 580px;
  min-width: 703px;
  margin: 0 auto;
  margin-top: 32px;
  box-shadow: -5px 6px 45px 9px rgba(0, 0, 0, 0.27);
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  top: 0;
  left: 180px;
} */

/* .ant-modal-mask {
  position: fixed !important;
  top: 92px !important;
  right: 230px !important;
  left: 230px !important;
  z-index: 1000 !important;
  height: 580px !important;
  border-radius: 10px !important;
  background-color: rgba(0, 0, 0, 0.45) !important;
} */

.site-layout .site-layout-background {
  background: #f8f8f8 !important;
}

.site-footer {
  text-align: center;
}

.ant-layout {
  background: #ff7af5 !important;
  background: linear-gradient(130deg, #ff7af5 0%, #5961f9 100%) !important;
  height: 100vh;
}

.lpaEYv {
  background: rgb(255, 255, 255);
  border-bottom: none;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.center-content {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.kHhzim {
  position: absolute;
  inset: 0px;
  color: rgb(18, 17, 37);
  box-shadow: rgb(0 0 0 / 60%) 0px 40px 80px;
  transition: all 0.2s ease 0s;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  background: rgb(238, 238, 238);
}

.kFmqyc {
  display: inline-block;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.option-language {
  display: inline-block;
  margin-right: 10px !important;
}

.menu-header {
  text-decoration: none;
  color: rgb(33, 33, 50);
  font-weight: 500;
  cursor: pointer;
}

.color-pink {
  color: rgb(249, 9, 108) !important;
  font-weight: 600 !important;
}

.color-blue {
  color: rgb(0, 141, 255) !important;
  font-weight: 600 !important;
}

.hzzSzX {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

a {
  color: rgb(33, 33, 50) !important;
  font-weight: 600 !important;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 300;
}

.logo img {
  margin-top: 8px;
  width: 44px;
  position: absolute;
}

.logo h3 {
  position: relative;
  top: 44px;
  font-weight: 100;
  margin-bottom: 0;
}

.logo h3 span {
  font-weight: 700;
}

.logo-bubbles {
  width: 550px !important;
}

.bold-text {
  font-weight: 900 !important;
}

.welcome-text {
  margin-top: 40px;
  font-size: 30px !important;
}

.second-text {
  font-size: 20px !important;
  margin-bottom: 0 !important;
}

.third-text {
  font-weight: 600 !important;
  font-size: 2em !important;
  margin: 60px 0 !important;
}

.fourth-text {
  font-weight: 600 !important;
  font-size: 17px !important;
}

.fourth-text span {
  font-weight: 100 !important;
}

.last-text {
  font-weight: 200 !important;
  margin: 20px 0 !important;
  font-size: 17px !important;
}

.btnGradient {
  font-weight: 600 !important;
  font-size: 17px !important;
  cursor: pointer !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  color: rgb(255, 255, 255) !important;
  border: none !important;
  height: 60px !important;
  width: 265px !important;
  border-radius: 5px !important;
  background: linear-gradient(
    rgb(249, 9, 108) 30%,
    rgb(255, 111, 106) 100%
  ) !important;
}

.btnAuth {
  font-weight: 600 !important;
  font-size: 17px !important;
  cursor: pointer !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  color: rgb(255, 255, 255) !important;
  border: none !important;
  height: 60px !important;
  width: 100% !important;
  border-radius: 5px !important;
  background: linear-gradient(
    rgb(249, 9, 108) 30%,
    rgb(255, 111, 106) 100%
  ) !important;
}

.ant-form-item-control-input-content {
  margin-top: 22px;
}

.auth-modal {
  top: 180 !important;
  height: 431.8px !important;
  border-radius: 25px !important;
}

.ant-modal-body {
  padding: 0 !important;
  font-size: 14px !important;
  line-height: 1.5715 !important;
  word-wrap: break-word !important;
}

.ant-tabs-nav-list {
  width: 100%;
}

.ant-tabs-tab {
  width: 50% !important;
  display: flex !important;
  justify-content: center !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.ant-tabs-tab:hover {
  color: rgb(249, 9, 108) !important;
}

.ant-tabs-tab-active {
  background: rgb(255, 255, 255) !important;
  color: rgb(249, 9, 108) !important;
}

.ant-tabs-tab-active:hover {
  background: rgb(255, 255, 255) !important;
  color: rgb(249, 9, 108) !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgb(249, 9, 108) !important;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  border: none !important;
}

.ant-tabs-nav {
  height: 55.6px;
}

@media (min-width: 1490px) {
}

@media (max-width: 2560px) {
}

@media (max-width: 1491px) {
}

@media (max-width: 1110px) {
}

@media (max-width: 980px) {
}

@media (min-width: 701px) {
  .site-layout-background {
    width: 70vw !important;
    height: 80vh !important;
    min-height: 580px;
    min-width: 703px;
    position: relative;
    box-shadow: -5px 6px 45px 9px rgb(0 0 0 / 27%);
    border-radius: 10px;
    overflow: hidden;
  }

  .site-layout-content {
    margin-top: 10%;
  }

  .ant-modal-mask {
    top: 92px !important;
    width: 70% !important;
    margin-left: 15% !important;
    height: 923px !important;
    border-radius: 10px !important;
  }

  .ant-modal-content {
    margin-top: 50% !important;
  }
}
